# 환경 설정 파일
.env
.env.*

*.http

# IDE 및 에디터 설정 파일
.idea/
.vscode/
*.suo
*.DS_Store

# Node.js
node_modules/
npm-debug.log*
yarn-error.log
yarn-debug.log*

# Serverless Framework 관련
.serverless/
.aws-sam/

# 로그 및 디버그 파일
logs/
*.log

# OS 생성 파일
.DS_Store
Thumbs.db
ehthumbs.db

# 빌드 및 배포 파일
dist/
build/
out/
tmp/

# AWS 설정 파일 (민감 정보)
.aws/

# 백업 파일
*.bak
*.swp

#
frontend/public/data/